<div class="col-12 p-3">

  <div>
    <p class="fs-1">Secure Communication Protocol Implementation</p>
    <ng-template #conectado>
      <div class="badge text-bg-success text-wrap">
        Conectado al servidor con id: {{ userID }}
      </div>
    </ng-template>
  </div>
  
  <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12" *ngIf="!estaConectado; else conectado">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ingresa un identificador para conectarte al servidor" [(ngModel)]="userID">
      <button class="btn btn-outline-info" type="button" id="button-addon2" (click)="conectarAlServidor()">Conectar al servidor</button>
    </div>
  </div>
  
  <hr>

  <div class="col-12" *ngIf="estaConectado">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ingresa tu mensaje" [(ngModel)]="mensaje">
      <input type="text" class="form-control" placeholder="ID del destinatario" [(ngModel)]="destinatario">
      <button class="btn btn-outline-info" type="button" id="button-addon2" (click)="enviarMensaje()">Enviar mensaje al usuario: {{ destinatario }}</button>
    </div>
  </div>

  <div class="col-12" *ngIf="estaConectado">
    <div class="input-group mb-3">
      <input type="password" class="form-control" placeholder="Ingresa la contraseña" [(ngModel)]="contrasenha">      
      <button class="btn btn-outline-info" type="button" id="button-addon2" (click)="generateKeyPair()">Generar llaves</button>
    </div>
  </div>
  
  <div *ngIf="estaConectado">
    <p class="fs-4">Mensajes recibidos:</p>
    <div *ngFor="let mensaje of mensajesRecibidos">
      <div class="badge text-bg-primary text-wrap">
        {{ mensaje }}
      </div>
      <br>
    </div>
  </div>
  
</div>