<div class="col-12">

  <div>
    <ng-template #conectado>
      <div class="badge text-bg-success text-wrap">
        Conectado al servidor con id: {{ userID }}
      </div>
    </ng-template>
  </div>
  
  <section class="grid h-screen place-content-center bg-slate-900 text-slate-300" *ngIf="!estaConectado; else conectado">
    <div class="mb-10 text-center text-indigo-400">
      <h1 class="text-3xl font-bold tracking-widest">Secure Communication Protocol Implementation</h1>
      <p>Ingresa tu <span class="font-bold">identificador</span> y una <span class="font-bold">contraseña</span> para conectarte</p>
    </div>
    <div class="flex flex-col items-center justify-center space-y-6">
      <input [(ngModel)]="userID" name="password" placeholder="Identificador" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
      <div>
        <input type="password" [(ngModel)]="userPass" id="confirm_password" name="confirm_password" placeholder="Contraseña" class="w-80 appearance-none rounded-full border-0 bg-slate-800/50 p-2 px-4 focus:bg-slate-800 focus:ring-2 focus:ring-orange-500" />
        <p id="validation" class="text-center text-orange-500 italic text-sm"></p>
      </div>
      <button id="button-addon2" (click)="conectarAlServidor()" id="showPw" class="rounded-full bg-indigo-500 p-2 px-4 text-white hover:bg-orange-500">Ingresar</button>
    </div>
  </section>
  
  <hr *ngIf="estaConectado">

  <div class="col-12" *ngIf="estaConectado">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ingresa tu mensaje" [(ngModel)]="mensaje">
      <input type="text" class="form-control" placeholder="ID del destinatario" [(ngModel)]="destinatario">
      <button class="btn btn-outline-info" type="button" id="button-addon2" (click)="enviarClavePublica()">Enviar clave publica</button>
      <button class="btn btn-outline-info" type="button" id="button-addon3" (click)="enviarMensaje()">Enviar mensaje al usuario: {{ destinatario }}</button>
    </div>
  </div>

  
  <div *ngIf="estaConectado">
    <p class="fs-4">Mensajes recibidos:</p>
    <div *ngFor="let mensaje of mensajesRecibidos">
      <div class="badge text-bg-primary text-wrap">
        {{ mensaje }}
      </div>
      <br>
    </div>
  </div>
  
</div>